<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
      
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/upload"><span class="glyphicon glyphicon-upload"></span> Upload my PCB</a>
      </li>
    </ul>
      
    <ul class="nav navbar-nav navbar-right">  
        <li class="navbar-right">
            <a href='#' onclick="logout()" id='profile_logout'>Logout</a>
        </li>
        <li class="navbar-right">
            <a href='#' onclick="login()" id='profile_login'>Login</a>
        </li>
        <li class="navbar-right">
            <img src='' id='profile_image' />
            <span id='profile_name'></span>
        </li>
    </ul>
      
  </div>
</nav>
