<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <form ref='uploadForm'
          id='uploadForm'
          action='/upload'
          method='post'
          style='display:none;'
          class='page_content'
          encType="multipart/form-data">
        <h2>Upload your PCB Design</h2>
        <p>Make sure it meets the requirements outlined in <a href='https://confluence.rowan.edu/pages/viewpage.action?pageId=57933867&preview=/57933867/61429954/Rowan%20ECE%20Department%20Printed%20Circuit%20Board%20Design%20and%20Ordering%20Process%20with%20stencil.pdf' target="_blank">this document</a>.</p>
        <p>This service will process your PCB and determine whether it actually meets the requirements. Your design will be uploaded to this server. Your design is stored securely.</p>

        <div id='dragndrop'>
            <!--Drag and drop a file<br>-->
            <input type="file" name="zip_upload" id="file" />
        </div>

        <input type='submit' value='Upload!' />
        <input type='hidden' name='user_email' required />

        <% if (typeof result != "undefined") { %>
        <div class="alert
        <%        if (result['status'] == 400) {
                    output = "<ul class='pcb-errors'>";
                    for (i in result['errors']) {
                        output += "<li>" + result['errors'][i]['msg'] + "<br><em>Error code " + result['errors'][i]['code'] + "</em></li>";
                    }
                    output += "</ul>";
            %>
                    alert-danger
        <%        } else {
                    output = "Your PCB has passed all tests and was emailed to the ECE Resource Center. You should be receiving an email shortly confirming your order.";
            %>
                    alert-success
        <%        } %>
                    text-center" role="alert" style='margin-top: 32px'>
        <%-         output %>
        </div>
        %>

            <%# JSON.stringify(result) %>
        <% } %>

        <p style='color:#999'>Version 1.0.0</p>
    </form>

    <div id='invalidUser' class='page_content' style='display:none;'>
        <h2>This page is inaccessible</h2>
        <p>The Rowan PCB Bot is currently only available for students and faculty at Rowan University. You can login using your Rowan account by clicking on the "Login" button in the top-right corner.</p>
    </div>

    <script>
        getUserEmail(function(email) {
            $('input[name="user_email"]').val(email);
            if (!validEmail(email)) {
                $('#uploadForm').remove();
                $('#invalidUser').show();
            } else {
                $('#uploadForm').show();
                $('#invalidUser').remove();
            }
        });
    </script>
    <script src="scripts/dropzone.min.js"></script>
    <script>
        Dropzone.options.uploadForm = {
            paramName: "zip_upload",
            uploadMultiple: false,
            maxFiles: 1,
            init: function() {
                this.on("dragover", function() { $('#dragndrop').addClass('mouse-over'); });
                this.on("dragleave", function() { $('#dragndrop').removeClass('mouse-over'); });
                this.on("drop", function() { $('#dragndrop').removeClass('mouse-over'); });
            }
        };
    </script>
  </body>
</html>
